@import '../node_modules/modularscale-sass/stylesheets/modularscale';
@import '../node_modules/react-image-crop/lib/ReactCrop';

$modularscale: (
  base: 1em,
  ratio: 1.42857142857
);

@import 'modules/colors';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/placeholders';
@import 'modules/layout';

@import 'partials/normalize';
@import 'partials/typography';

#root > main {
  background: $white;
  overflow: auto;
}

@import 'partials/buttons';
@import 'partials/atoms';
@import 'partials/table';
@import 'partials/forms';
@import 'partials/header';
@import 'partials/breadcrumbs';
@import 'partials/footer';
@import 'partials/download';
@import 'partials/artists';
@import 'partials/templates';

@import 'components/form';
@import 'components/login';
@import 'components/messsages';
@import 'components/profile';
@import 'components/dashboard';
@import 'components/connections';
@import 'components/wiki';
@import 'components/drag-and-drop';
@import 'components/thumbnailer';
@import 'components/map';
@import 'components/member-profile';
@import 'components/homepage';
@import 'components/likes';
