.idea
.idea/*
node_modules
node_modules/*
npm-debug.log
npm-debug.log.*
config/development.json
config/production.json
config/test.json
config/test.live.json
public/*
coverage
coverage/*
server.js
update.js
update.*.sql
