section.artist h2 a {
  border-bottom: 1px solid $red;
  color: $red;
  display: block;
  font-family: 'Fontin Sans Small Caps', sans-serif;
  margin-bottom: .5em;
  padding-bottom: .5em;
  text-decoration: none;
}
