body {
  background: $red;
}

main {
  @extend %layout;
  padding-bottom: ms(4);
}

aside {
  @extend %sidebar;

  &.note {
    background: $brown112;
    font-family: 'Fontin Sans';
    font-size: ms(-1);
    text-align: center;
  }
}

hr {
  background: url('#{$images}/divider.png') no-repeat center;
  background-size: contain;
  border: 0;
  height: 13px;
  margin: ms(2) auto;
  width: 250px;

  @media (min-width: 50em) {
    height: 25px;
    width: 500px;
  }
}

a {
  color: $red;
  font-weight: bold;

  &:visited {
    color: desaturate($red, 25%);
  }

  &:hover {
    color: lighten($red, 10%);
  }

  &:active {
    color: darken($red, 10%);
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  @media (min-width: 50em) {
    &.column2,
    &.column3,
    &.column4 {
      column-count: 2;
      column-gap: 2em;
    }
  }

  @media (min-width: 65em) {
    &.column3,
    &.column4 {
      column-count: 3;
    }
  }

  @media (min-width: 80em) {
    &.column4 {
      column-count: 4;
    }
  }
}

img {
  max-width: 100%;
}
