body {
  background: $red;
}

main {
  @extend %layout;
  padding-bottom: ms(4);
}

aside {
  @extend %sidebar;
  padding-bottom: ms(2);
  padding-top: ms(2);

  &.note {
    background: $brown112;
    font-family: 'Fontin Sans', sans-serif;
    font-size: ms(-1);
    padding-bottom: ms(0);
    padding-top: ms(0);
    text-align: center;
  }
}

hr {
  background: url('#{$images}/divider.png') no-repeat center;
  background-size: contain;
  border: 0;
  height: 13px;
  margin: ms(2) auto;
  width: 250px;

  @media (min-width: 50em) {
    height: 25px;
    width: 500px;
  }
}

a {
  color: $red;
  font-weight: bold;

  &:visited {
    color: desaturate($red, 25%);
  }

  &:hover {
    color: lighten($red, 10%);
  }

  &:active {
    color: darken($red, 10%);
  }
}

ul,
ol {
  padding: 0;

  ul,
  ol {
    margin-left: 1em;
  }

  @media (min-width: 50em) {
    &.column2,
    &.column3,
    &.column4 {
      column-count: 2;
      column-gap: 2em;
    }
  }

  @media (min-width: 65em) {
    &.column3,
    &.column4 {
      column-count: 3;
    }
  }

  @media (min-width: 80em) {
    &.column4 {
      column-count: 4;
    }
  }
}

img {
  max-width: 100%;
}

blockquote {
  @extend %sidebar;

  cite {
    color: $brown23;
    display: block;
    font-style: normal;
    margin-left: 25%;
    max-width: 75%;
    text-align: right;

    &::before {
      content: '\2014';
      margin-right: ms(-2);
    }
  }
}

pre {
  background: $brown16;
  margin: ms(0) -1em;
  padding: ms(0) 1em;
}
