body {
  background: $red;
}

main {
  @extend %layout;
  padding-bottom: 4em;
}

aside {
  @extend %sidebar;

  &.note {
    background: $brown112;
    font-family: 'Fontin Sans';
    font-size: .618em;
    text-align: center;
  }
}

hr {
  background: url('#{$images}/divider.png') no-repeat center;
  border: 0;
  height: 20px;
  margin: 2em auto;
  width: 170px;
}

a {
  color: $red;
  font-weight: bold;

  &:visited {
    color: desaturate($red, 25%);
  }

  &:hover {
    color: lighten($red, 10%);
  }

  &:active {
    color: darken($red, 10%);
  }
}
