button,
input[type='submit'],
input[type='button'],
a.button {
  @include button-color($red, $white);
  appearance: none;
  border: 0;
  box-shadow: 0 0 ms(-4) $black13;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fontin Sans';
  font-weight: bold;
  margin: 0 ms(-2);
  outline: none;
  padding: ms(-2) ms(1);
  text-decoration: none;

  &:active {
    box-shadow: 0 0 ms(-5) $black23;
  }

  &.secondary {
    background: $white;
    border: ms(-4) solid $red;
    box-shadow: none;
    color: $red;
    opacity: .5;
    padding: ms(-3) ms(0);
    transition: .25s ease-in-out opacity;

    &:hover {
      opacity: 1;
    }
  }
}
