@mixin button-color ($bg, $fg) {
  background: $bg;
  color: $fg;

  &:visited {
    color: $fg;
  }

  &:hover {
    background: lighten($bg, 5%);
    color: $fg;
  }

  &:active {
    background: darken($bg, 5%);
    color: $fg;
  }

  &[disabled],
  &[disabled]:visited,
  &[disabled]:hover,
  &[disabled]:active {
    background: $bg;
    cursor: default;
    opacity: .5;
  }
}

%button {
  @include button-color($red, $white);
  appearance: none;
  border: 0;
  box-shadow: 0 0 ms(-4) $black13;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fontin Sans';
  font-weight: bold;
  margin: 0 ms(-2);
  outline: none;
  padding: ms(-2) ms(1);
  text-decoration: none;

  &:active {
    box-shadow: 0 0 ms(-5) $black23;
  }

  &.secondary {
    background: transparent;
    border: ms(-4) solid $red;
    box-shadow: none;
    color: $red;
    opacity: .5;
    padding: ms(-3) ms(0);
    transition: .25s ease-in-out opacity;

    &:hover {
      opacity: 1;
    }
  }
}

button,
input[type='submit'],
input[type='button'],
a.button,
.actions > a {
  @extend %button;
}

.actions {
  text-align: center;
}
