#root > footer {
  @extend %layout;
  background-color: $red;
  background-image: url('#{$images}/bottom.png'), url('#{$images}/footer.png');
  background-position: top center;
  background-repeat: repeat-x, no-repeat;
  background-size: auto, cover;
  color: $white;
  padding-bottom: ms(4);
  padding-top: calc(16px + 1em);
  position: relative;
  text-align: center;

  nav {
    margin-bottom: ms(3);

    ul {
      @extend %unformatted-list;
    }

    li {
      display: inline-block;
      margin: 0 ms(0);
    }

    a {
      border-bottom: 2px solid transparent;
      font-family: 'Fontin Sans Small Caps';
      padding-bottom: ms(-2);
      text-decoration: none;

      &:hover {
        border-bottom-color: $white;
      }
    }
  }

  a {
    color: $white;
  }

  .copyleft {
    font-size: ms(-1);

    .icons {
      margin-right: ms(-2);

      img {
        height: ms(0);
        margin-right: ms(-6);
      }
    }
  }

  &::after {
    background: linear-gradient(to bottom, $transparent 0%, $red 100%);
    bottom: 0;
    content: '';
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b92e52', endColorstr='#b92e52', GradientType=0 );
    height: ms(2);
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
}
