%text-entry {
  background: $white;
  border: 0;
  box-shadow: 0 0 ms(-2) $black13;
  display: block;
  margin: 1em 0;
  padding: 1em;
  width: 100%;

  @media (min-width: 50em) {
    margin: 1em -1em;
    width: calc(100% + 2em);
  }
}

label {
  display: block;
  font-family: 'Fontin Sans';
  font-weight: bold;
  margin: ms(2) 0 ms(-4);

  .note {
    font-size: ms(-1);
    font-weight: normal;
    margin: 0 0 ms(-1);
  }

  &.error {
    color: $red;

    .note {
      color: $black;
    }

    + input {
      border-bottom-color: $red;
      color: $red;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  @extend %text-entry;

  & + .note {
    font-size: ms(-1);
    margin-top: ms(-1);
  }
}

input[type='radio'] + label {
  display: inline;
  font-weight: normal;
  margin: 0 1em 0 .5em;
  vertical-align: middle;
}

ul.radio {
  @extend %unformatted-list;
  margin: 1em 0;

  &.short {
    li {
      display: inline-block;
      margin: 0 1em 0 0;
    }
  }
}

textarea {
  @extend %text-entry;
  height: ms(7);
}

.autocomplete {
  @extend %unformatted-list;

  li {
    border: 1px solid $brown112;
    cursor: pointer;
    padding: ms(-1);

    p {
      margin: 0;
    }

    .note {
      color: $brown;
      font-size: ms(-1);
    }

    &:hover {
      background: $brown112;
    }
  }
}

p.error {
  color: $red;
}

.path {
  color: inherit;
  font-family: monospace;
  text-decoration: none;
}

.loading .actions button:not(.secondary) {
  cursor: not-allowed;
  opacity: .5;

  &::before {
    background: url('#{$images}/loading.gif') no-repeat center;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 1em;
    margin: 0 .5em 0 0;
    vertical-align: middle;
    width: 1em;
  }
}
