label {
  display: block;
  font-family: 'Fontin Sans';
  font-weight: bold;
  margin: 2em 0 .25em;

  .note {
    font-size: .618em;
    font-weight: normal;
    margin: 0;

    & + .note {
      margin-top: .618em;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $brown13;
  display: block;
  outline: none;
  width: 100%;

  &:focus {
    border-bottom: 2px solid $brown;
  }
}

textarea {
  border: 0;
  box-shadow: 0 0 .5em $black13;
  display: block;
  height: 10em;
  margin: 1em 0;
  padding: 1em;
  width: 100%;

  @media (min-width: 50em) {
    margin: 1em -1em;
    width: calc(100% + 2em);
  }
}
