#root > header {
  @extend %layout;
  background-attachment: scroll;
  background-image: url('#{$images}/top.png'), url('#{$images}/headers/standard.jpg');
  background-position: bottom center, top center;
  background-repeat: repeat-x, no-repeat;
  background-size: auto, cover;
  overflow: auto;
  padding-bottom: 0;
  padding-top: 0;

  & > .brand img {
    border-bottom: 0;
    height: ms(-3);
    margin-top: ms(1);

    @media (min-width: 50em) {
      height: ms(-2);
    }

    @media (min-width: 60em) {
      height: ms(-1);
    }
  }

  & > .brand + h1 {
    color: $white;
    font-size: ms(2);
    line-height: 1;
    margin-top: ms(-2) * -1;

    @media (min-width: 50em) {
      font-size: ms(3);
      margin-top: ms(-3) * -1;
    }

    @media (min-width: 60em) {
      font-size: ms(4);
      margin-top: ms(-4) * -1;
    }
  }

  .has-credit {
    margin-bottom: 0;
  }

  .credit {
    color: $white;
    margin: ms(-1) 0 ms(2);
  }

  & > nav {
    ul {
      @extend %unformatted-list;

      @media (min-width: 40em) {
        margin-left: ms(0) * -1;
      }
    }

    li {
      background: $white13;
      display: inline-block;
      font-size: ms(-1);
      margin-right: ms(-4);

      &.active {
        background: $white;

        a {
          color: $red;
          position: relative;

          &::after {
            border-bottom: 0;
            border-left: ms(-2) solid transparent;
            border-right: ms(-2) solid transparent;
            border-top: ms(-2) solid $red13;
            bottom: 0;
            content: '';
            display: block;
            height: 0;
            left: 50%;
            margin-left: ms(-2) * -1;
            position: absolute;
            width: 0;
          }
        }
      }
    }

    a {
      color: $white;
      display: inline-block;
      font-family: 'Fontin Sans Small Caps';
      padding: ms(-2) ms(0) ms(0);
      text-decoration: none;
      transition: .25s ease-in-out background, color;

      &:hover {
        background: $white23;
        color: $black;
      }
    }

    &.account {
      background: $black23;
      float: right;

      ul {
        margin: 0;
      }

      li {
        background: transparent;
        margin-right: 0;

        & + li {
          border-left: 1px solid $white13;
        }
      }

      a {
        background: transparent;
        color: $white;
        padding: ms(-2) ms(0);

        &:hover {
          background: $white13;
        }
      }
    }
  }

  &.fullpage {
    background: transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 401;
  }
}
