table {
  font-family: 'Fontin Sans';
  margin: ms(0) 0;
  text-align: left;
  width: 100%;

  th,
  td {
    padding: ms(-1) ms(0);
  }

  th {
    border-bottom: 1px solid $brown;
    color: $brown;
  }

  tbody > tr:nth-child(odd) > td {
    background: $brown112;
  }

  .short,
  .num {
    text-align: center;
  }

  .actions,
  .status {
    text-align: right;
  }

  @media (min-width: 50em) {
    margin: 1em -1em;
    width: calc(100% + 2em);
  }
}
