nav.sequence {
  ul {
    @extend %unformatted-list;
  }

  a,
  .next.notyet {
    background: $brown13;
    color: $black;
    display: block;
    font-family: 'Fontin Sans';
    margin: ms(-2) -1em;
    padding: 1em;
    position: relative;
    text-decoration: none;

    &::before {
      color: $brown;
      display: block;
      font-size: ms(-1);
      font-weight: normal;
    }

    &::after {
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }

    &:hover {
      background: lighten($brown13, 5%);
    }
  }

  .prev a::before { content: 'Previous'; }
  .next a::before { content: 'Next'; }
  .next.notyet::before { content: 'Next'; }

  .prev a::after {
    border-color: $white transparent transparent $white;
    border-style: solid;
    border-width: 2.041em .509em 0 0;
    left: 0;
    top: 0;
  }

  .next a::after,
  .next.notyet::after {
    border-color: transparent $white $white transparent;
    border-style: solid;
    border-width: 0 0 2.041em .509em;
    bottom: 0;
    right: 0;
  }

  .next.notyet {
    font-weight: bold;
    margin: ms(-1) 0;
    opacity: .618;

    &::after {
      color: desaturate($brown, 100%);
    }
  }

  @supports (display: grid) {
    @media (min-width: 50em) {
      ul {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 50% 50%;
        margin: 0 -1em;
      }

      a {
        height: 100%;
        margin: 0;
        padding-bottom: ms(1);
      }
    }
  }
}

div.main {
  color: $brown23;
  display: block;
  font-family: 'Fontin Sans', 'Verdana', 'sans-serif';
  font-size: ms(-1);
  margin: ms(0) 0;
}

.wiki-body .novel-listing {
  @extend %unformatted-list;

  @supports (display: grid) {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 50% 50%;

    li {
      margin: 0;
    }

    @media (min-width: 50em) {
      grid-template-columns: 33% 33% 33%;
    }

    @media (min-width: 70em) {
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
}
