.dashboard {
  .choices {
    @extend %sidebar;
    text-align: center;

    h3 {
      font-family: 'Fontin Sans Small Caps';
      font-weight: normal;
      margin: ms(-1) 0;
    }

    ul {
      @extend %unformatted-list;

      li {
        margin: ms(-1);
      }

      p {
        font-size: ms(-1);
        margin: ms(0) auto ms(1);
        max-width: ms(9);
      }

      .button {
        @include button-color($red, $white);
        margin: 0;
        max-width: ms(7);
        width: 100%;
      }
    }

    @media (min-width: 60em) {
      &.create {
        background: $brown112 url('#{$images}/create.png') no-repeat bottom right;
        background-size: contain;
        padding-right: 25%;
      }
    }
  }
}
