.dashboard {
  .create {
    text-align: center;

    h3 {
      font-family: 'Fontin Sans Small Caps';
      font-weight: normal;
      margin: .618em 0;
    }

    ul {
      @extend %unformatted-list;

      li {
        margin: .618em;
      }

      .button {
        margin: 0;
        max-width: 20em;
        width: 100%;
      }
    }

    @media (min-width: 60em) {
      background: $brown112 url('#{$images}/create.png') no-repeat bottom right;
      background-size: contain;
      padding-right: 25%;
    }
  }

  #invitations {
    textarea {
      height: 8em;
    }
  }
}
