.dashboard {
  .choices h3,
  .member h3 {
    font-family: 'Fontin Sans Small Caps';
    font-weight: normal;
    margin: ms(-1) 0;
  }

  .choices {
    @extend %sidebar;
    text-align: center;

    ul {
      @extend %unformatted-list;

      li {
        margin: ms(-1);
      }

      p {
        font-size: ms(-1);
        margin: ms(0) auto ms(1);
        max-width: ms(9);
      }

      .button {
        @include button-color($red, $white);
        margin: 0;
        max-width: ms(7);
        width: 100%;
      }
    }

    @media (min-width: 60em) {
      &.create {
        background: $brown112 url('#{$images}/create.png') no-repeat bottom right;
        background-size: contain;
        padding-right: 25%;
      }
    }
  }

  .member {
    overflow: auto;
    text-align: center;

    & > ul {
      @extend %unformatted-list;
    }

    a {
      margin: 0;
      width: 100%;
    }

    @media (min-width: 50em) {
      li {
        display: inline-block;
        margin: 1em 1%;
        vertical-align: top;
        width: 48%;
      }
    }

    @media (min-width: 80em) {
      li {
        font-size: ms(-1);
        width: 22%;
      }
    }
  }
}
