.login {
  .oauth2-login {
    text-align: center;

    p {
      font-style: italic;
    }

    ul {
      @extend %unformatted-list;
    }

    li {
      margin-bottom: ms(-4);
    }

    a {
      display: block;
    }

    .patreon {
      @include button-color($patreon, $white);
    }

    .discord {
      @include button-color($discord, $white);
    }

    .google {
      @include button-color($google, $white);
    }

    .facebook {
      @include button-color($facebook, $white);
    }

    .twitter {
      @include button-color($twitter, $white);
    }
  }

  @media (min-width: 50em) {
    @supports (display: grid) {
      section.login {
        display: grid;
        grid-gap: ms(0);
        grid-template-columns: 50% 50%;
      }
    }
  }
}
