.loading-map {
  background: $white;
  font-family: 'Fontin Sans';
  left: 50%;
  padding: 1em;
  position: absolute;
  top: 35vh;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.map-frame {
  height: 75vh;
  margin: ms(2) 0;

  .leaflet-container {
    height: 75vh;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.place.view .map {
  height: 300px;
  margin: ms(1) auto;

  .leaflet-container {
    height: 300px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
