.messages {
  @extend %unformatted-list;

  li {
    @extend %sidebar;
    background: $blue16;
    display: block;
    margin: ms(-2) 0;

    &.confirmation { background: $green16; }
    &.warning { background: $yellow16; }
    &.error { background: $red16; }
  }
}
