form.wiki {
  textarea[name='body'] {
    height: 50vh;
  }

  aside {
    margin-top: 0;
  }
}

.wiki-options {
  font-size: ms(-1);
  margin-top: ms(4);

  ul {
    @extend %unformatted-list;
  }

  li {
    display: inline;
  }

  .active a {
    @include button-color($red, $white);
  }
}

.history .details {
  font-size: ms(-1);
  margin-bottom: 0;
  margin-top: ms(-1);
}

.back {
  font-size: ms(-1);
}

.diff {
  thead {
    border-bottom: 1px solid $brown;

    th {
      border: 0;
      font-family: 'Fontin Sans';
      font-size: ms(-1);
      text-align: top;
    }

    .commit-messages th {
      font-style: italic;
      font-weight: normal;
    }

    .current-version {
      color: $brown13;
    }
  }

  tbody th {
    background: $brown112;
    border: 0;
    font-size: ms(-1);
    padding: ms(0) ms(1);
  }

  .before,
  .after {
    font-family: monospace;
    vertical-align: top;
    white-space: pre-wrap;
    width: 50%;

    ins {
      background: $ins;
    }

    del {
      background: $del;
    }

    ins,
    del {
      text-decoration: none;
    }
  }
}

a.art {
  display: block;
  margin: 1em auto;
  text-align: center;
}

.gallery {
  @extend %unformatted-list;

  li {
    display: inline-block;
    margin: 0 .5em .5em 0;
    width: calc(50% - 1em);

    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: 40em) {
  .gallery li {
    width: calc(25% - 1em);
  }
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 50% 50%;
    width: calc(100% - .5em);

    li {
      display: block;
      height: 100%;
      margin: 0;
      width: 100%;
    }
  }

  @media (min-width: 40em) {
    .gallery {
      grid-template-columns: 25% 25% 25% 25%;
      width: calc(100% - 1.5em);
    }
  }
}
