form.wiki {
  textarea[name='body'] {
    height: 50vh;
  }

  aside {
    margin-top: 0;
  }
}

.wiki-options {
  font-size: ms(-1);
  margin-top: ms(4);

  ul {
    @extend %unformatted-list;
  }

  li {
    display: inline;
  }

  .active a {
    @include button-color($red, $white);
  }
}
