$transparent: rgba(255, 255, 255, 0);

$white: #fff;
$white23: rgba($white, 2/3);
$white13: rgba($white, 1/3);
$white16: rgba($white, 1/6);

$black: #000;
$black23: rgba($black, 2/3);
$black13: rgba($black, 1/3);
$black16: rgba($black, 1/6);

$brown: #5b3822;
$brown23: rgba($brown, 2/3);
$brown13: rgba($brown, 1/3);
$brown16: rgba($brown, 1/6);

$red: #b92e52;
$red23: rgba($red, 2/3);
$red13: rgba($red, 1/3);
$red16: rgba($red, 1/6);

$blue: #4195c0;
$blue23: rgba($blue, 2/3);
$blue13: rgba($blue, 1/3);
$blue16: rgba($blue, 1/6);

$green: #2eb950;
$green23: rgba($green, 2/3);
$green13: rgba($green, 1/3);
$green16: rgba($green, 1/6);

$yellow: #c0c041;
$yellow23: rgba($yellow, 2/3);
$yellow13: rgba($yellow, 1/3);
$yellow16: rgba($yellow, 1/6);

$patreon: #e6461a;
$discord: #7289da;
$google: #dd4b39;
$facebook: #3b5998;
$twitter: #4099ff;
