$transparent: rgba(255, 255, 255, 0);

$white: #fff;
$white23: rgba($white, .6666);
$white13: rgba($white, .3333);

$black: #000;
$black23: rgba($black, .6666);
$black13: rgba($black, .3333);

$brown: #5b3822;
$brown23: rgba($brown, .6666);
$brown13: rgba($brown, .3333);

$red: #b92e52;
$red23: rgba($red, .6666);
$red13: rgba($red, .3333);

$blue: #4195c0;
$blue23: rgba($blue, .6666);
$blue13: rgba($blue, .3333);
