%layout {
  padding: 2em;

  @media (min-width: 40em) {
    padding: ms(0) 5%;
  }

  @media (min-width: 50em) {
    padding: ms(0) 10%;
  }

  @media (min-width: 60em) {
    padding: ms(0) 15%;
  }

  @media (min-width: 80em) {
    padding: ms(0) calc(50% - 17.347em);
  }
}
