@mixin button-color ($bg, $fg) {
  background: $bg;
  color: $fg;

  &:visited {
    color: $fg;
  }

  &:hover {
    background: lighten($bg, 5%);
    color: $fg;
  }

  &:active {
    background: darken($bg, 5%);
    color: $fg;
  }
}
