%unformatted-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

%sidebar {
  background: $brown16;
  font-family: 'Fontin Sans';
  margin: ms(3) 0;
  padding: ms(-1) ms(1);
  position: relative;

  .button {
    @include button-color($brown, $white);
  }

  .form-field {
    margin: 0 0 ms(1);
  }

  @media (min-width: 50em) {
    margin: ms(1) ms(1) * -1;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  &::before {
    border-color: $white transparent transparent $white;
    border-style: solid;
    border-width: 2.041em .509em 0 0;
    left: 0;
    top: 0;
  }

  &::after {
    border-color: transparent $white $white transparent;
    border-style: solid;
    border-width: 0 0 2.041em .509em;
    bottom: 0;
    right: 0;
  }
}
